 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: wrap;
    margin: 3rem;
 }
.container > * {
    min-width: 35rem;
    max-width: 70rem;

}
.image{ 
    border-radius: 3rem;
    flex: 1 0 ;
    object-fit: cover;
    height: 35rem;
    margin: 1rem;
}
.image img {
    max-width: 50%;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1  0 ;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
} 
.header{
    display: flex;
    justify-content: space-between;
}
.name{
    font-size: 2rem  ;
    font-size: bold;
}
.favorite{
    color: #e72;
    font-size: 2.5rem;
}
.favorite.not{
    color: gray;

}
.origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;


}
.origins > span{
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 3rem;
    background-color: aliceblue;

}

.cook_time{
    margin-top: 1rem
}
.cook_time span{
    padding: 0.6rem 2rem 0.6rem 0;
    border-radius: 10rem;
    font-size: 1.5rem;
}
.price{
    font-size: 2rem;
    margin: 2rem 2rem 2rem 0 ;
    color:green;
}
.price::before{
    content : 'Price:';
    color: darkgray;
}
.butn{
    color: white;
    background-color: red;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 15rem;
    outline: none;

}
.butn:hover{
    opacity: 0.5;
    cursor: pointer;
}
