/* Header Styles */
.header {
    background: white;
    padding: 0;
    border-bottom: 1px solid #e72929;
    color: red;
}

/* Header Link Hover Effect */
.header a:hover {
    background: #e72929;
}

/* Container Styles */
.container {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

/* Logo Styles */
.logo {
    font-weight: bold;
    padding: 1rem;
}

/* Header List Styles */
.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

/* Header List Item (Link) Styles */
.header ul a {
    padding: 1rem;
    display: inline-block;
}

/* Dropdown Menu Styles */
.menu_container {
    position: relative;
}

.menu {
    display: none;
    position: absolute;
    z-index: 1001;
    /* Adjust background color as needed */
    background-color: white;
}

.menu_container:hover .menu {
    display: block;
}
.menu a{
    width: 100%;
    min-width: 8rem;
}
.cart_count{
    background-color:red ;
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius:100rem ;
    font-size: 0.9rem;
}
